.nav {
    grid-area: n;
    border-radius: 1px 1px 1px 20px;
}
.item {
    color: #777778;
    font-weight: bold;
}
.active {
    color: #6196bb;
    font-weight: bold;
}

a {
    text-decoration: none;
}