.dialogs {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    border: 1px solid #c0d5fa;
    border-radius: 10px;
    background-color: white;
}
.dialogsItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.dialogsItems .active {
    color: #482634;
    /*background-color: #117070;*/
}
.dialog {
    color: #777778;
    padding: 10px;
    margin: 10px;
}
.messages {
    min-width: 600px;
    margin: 0 auto;
}
.message {
    padding: 10px;
    margin: 15px;
    background-color: #edeef0;
    color: #181818;
    border-radius: 5px;
}